{% extends "layout.jinja2" %}

{% block content %}
<div class="card">
  <img src="{{ url_for('static', filename='img/sock.svg') }}" class="logo" />
  <h1 class="site-title">{{ title }}</h1>
  <p class="subtitle">Prototype tool by @leonmaughan / leon44@gmail.com</p>
  <a href="/archive/" class="dash-link">
    <span>Measurement archive</span>
    <i class="fas fa-arrow-right"></i>
  </a>
  <a href="/climatecheck/" class="dash-link">
    <span>Climate change trend analysis</span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>
{% endblock %}
